@media print {
    .no-print {
        display: none !important;
    }
}

a {
    text-decoration: none !important;
}

.min-height {
    min-height: 80vh !important;
    display: grid;
    align-items: center;
}